
<div ng-repeat="product in storeCtrl.products | filter:storeCtrl.query" class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img ng-src={{product.mainImage}} alt="">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}</h4>
      <h4><a href="/#!/products/{{product._id}}">{{product.title}}</a>
      </h4>
      <p>{{product.shortDescription}}</p>
    </div>
    <div class="ratings">
      <p class="pull-right">15 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
    </div>
  </div>
</div>
