
<div class="container">
  <div class="row">
    <form role="form" ng-submit="newProductCtrl.create()" name="newProductForm">
      <div class="col-lg-6">

        <div class="form-group">
          <div class="input-group">
            <input name="title" required type="text" class="form-control" ng-model="newProductCtrl.newProduct.title" placeholder="Product Title">
            <!-- glyphicons for validation -->
            <span ng-show="newProductForm.title.$pristine || newProductForm.title.$dirty&&newProductForm.title.$invalid" class="input-group-addon">
              <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <span ng-show="newProductForm.title.$valid" class="input-group-addon">
              <span class="glyphicon glyphicon-ok"></span>
            </span>


          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <textarea name="shortDescription" required class="form-control" ng-model="newProductCtrl.newProduct.shortDescription" placeholder="Short Product Description" rows="2"></textarea>
            <!-- glyphicons for validation -->
            <span ng-show="newProductForm.shortDescription.$pristine || newProductForm.shortDescription.$dirty&&newProductForm.shortDescription.$invalid" class="input-group-addon">
              <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <span ng-show="newProductForm.shortDescription.$valid" class="input-group-addon">
              <span class="glyphicon glyphicon-ok "></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <textarea name="fullDescription" required class="form-control" ng-model="newProductCtrl.newProduct.fullDescription" placeholder="Full Product Description" rows="5"></textarea>
            <!-- glyphicons for validation -->
            <span ng-show="newProductForm.fullDescription.$pristine || newProductForm.fullDescription.$dirty&&newProductForm.fullDescription.$invalid" class="input-group-addon">
              <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <span ng-show="newProductForm.fullDescription.$valid" class="input-group-addon">
              <span class="glyphicon glyphicon-ok "></span>
            </span>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="form-group">
          <div class="input-group">
            <input name="price" required type="number" class="form-control" ng-model="newProductCtrl.newProduct.price" placeholder="Product Price">
            <!-- glyphicons for validation -->
            <span ng-show="newProductForm.price.$pristine || newProductForm.price.$dirty&&newProductForm.price.$invalid" class="input-group-addon">
              <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <span ng-show="newProductForm.price.$valid" class="input-group-addon">
              <span class="glyphicon glyphicon-ok "></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <select name="colors" required class="form-control"
                  ng-model="newProductCtrl.newProduct.colors"
                  ng-options="c as c for c in newProductCtrl.colors">
            <option value="">-- choose color --</option>
          </select>
        </div>

        <div class="form-group">
          <select name="sizes" required class="form-control"
                  ng-model="newProductCtrl.newProduct.sizes"
                  ng-options="c as c for c in newProductCtrl.sizes">
            <option value="">-- choose size --</option>
          </select>
        </div>

        <div class="form-group">
          <select name="categories" required class="form-control"
                  ng-model="newProductCtrl.newProduct.categories"
                  ng-options="c as c for c in newProductCtrl.categories">
            <option value="">-- choose category --</option>
          </select>
        </div>

        <!-- form buttons -->
        <div class="col-lg-6"></div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-danger pull-right">cancel</button>
        </div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-info pull-right">preview</button>
        </div>
        <div class="col-lg-2">
          <input type="submit" value="Add" ng-disabled="newProductForm.$invalid" class="btn btn-success pull-right">
        </div>

      </div>

    </form>
  </div>
</div>