<!-- image container, will be a directive soon -->
<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-6">
      <div class="thumbnail">
        <img src="http://prepbootstrap.com/Content/images/shared/single-page-admin/face.jpg" alt="Marcel Newman" class="img-circle">
        <p>{{addNewProductCtrl.message}}</p>
      </div><!-- /thumbnail -->
    </div>

    <!-- form container -->
    <div class="col-lg-6 col-md-6">
      <div class="thumbnail">
        <img src="http://prepbootstrap.com/Content/images/shared/single-page-admin/face.jpg" alt="Marcel Newman" class="img-circle">
      </div><!-- /thumbnail -->
    </div>

  </div>

</div>
