<!--<section>-->
  <!--<div class="page-header">-->
    <!--<h1 data-ng-bind="storeProductCtrl.product.title"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right" data-ng-show="authentication.user._id == product.user._id">-->
    <!--<a class="btn btn-primary" href="/#!/products/{{product._id}}/edit">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" data-ng-click="remove();">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span data-ng-bind="product.created | date:'mediumDate'"></span>-->
      <!--by-->
      <!--<span data-ng-bind="product.user.displayName"></span>-->
    <!--</em>-->
  <!--</small>-->
<!--</section>-->


<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="thumbnail">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{storeProductCtrl.product.title}}</h2>
          <p class="lead">{{storeProductCtrl.product.shortDescription}}</p>
          <p class="lead">{{storeProductCtrl.product.fullDescription}}</p>
          <p class="lead">{{storeProductCtrl.product.sizes}}</p>
          <p class="lead">{{storeProductCtrl.product.colors}}</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src={{storeProductCtrl.product.mainImage}} alt="">
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->